* {
  box-sizing: border-box;
}

html,
body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--text);
  font-family: var(--font-b);
}

button,
input,
textarea {
  font-family: inherit;
  font-weight: inherit;
}

button {
  border: none;
  outline: none;
}

textarea {
  resize: none;
}